<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.web.resource.dao.TreespeciesMapper">
  <resultMap id="BaseResultMap" type="com.lc.web.resource.entity.Treespecies">
    <id column="treespeciesid" jdbcType="INTEGER" property="treespeciesid" />
    <result column="treespeciesname" jdbcType="VARCHAR" property="treespeciesname" />
    <result column="section" jdbcType="VARCHAR" property="section" />
    <result column="genus" jdbcType="VARCHAR" property="genus" />
    <result column="imgpath" jdbcType="VARCHAR" property="imgpath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    treespeciesid, treespeciesname, section, genus, imgpath
  </sql>
  <select id="selectByExample" parameterType="com.lc.web.resource.entity.TreespeciesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from daxing_treespecies
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from daxing_treespecies
    where treespeciesid = #{treespeciesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from daxing_treespecies
    where treespeciesid = #{treespeciesid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lc.web.resource.entity.TreespeciesExample">
    delete from daxing_treespecies
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lc.web.resource.entity.Treespecies">
    insert into daxing_treespecies (treespeciesid, treespeciesname, section, 
      genus, imgpath)
    values (#{treespeciesid,jdbcType=INTEGER}, #{treespeciesname,jdbcType=VARCHAR}, #{section,jdbcType=VARCHAR}, 
      #{genus,jdbcType=VARCHAR}, #{imgpath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lc.web.resource.entity.Treespecies">
    insert into daxing_treespecies
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="treespeciesid != null">
        treespeciesid,
      </if>
      <if test="treespeciesname != null">
        treespeciesname,
      </if>
      <if test="section != null">
        section,
      </if>
      <if test="genus != null">
        genus,
      </if>
      <if test="imgpath != null">
        imgpath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="treespeciesid != null">
        #{treespeciesid,jdbcType=INTEGER},
      </if>
      <if test="treespeciesname != null">
        #{treespeciesname,jdbcType=VARCHAR},
      </if>
      <if test="section != null">
        #{section,jdbcType=VARCHAR},
      </if>
      <if test="genus != null">
        #{genus,jdbcType=VARCHAR},
      </if>
      <if test="imgpath != null">
        #{imgpath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lc.web.resource.entity.TreespeciesExample" resultType="java.lang.Long">
    select count(*) from daxing_treespecies
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update daxing_treespecies
    <set>
      <if test="record.treespeciesid != null">
        treespeciesid = #{record.treespeciesid,jdbcType=INTEGER},
      </if>
      <if test="record.treespeciesname != null">
        treespeciesname = #{record.treespeciesname,jdbcType=VARCHAR},
      </if>
      <if test="record.section != null">
        section = #{record.section,jdbcType=VARCHAR},
      </if>
      <if test="record.genus != null">
        genus = #{record.genus,jdbcType=VARCHAR},
      </if>
      <if test="record.imgpath != null">
        imgpath = #{record.imgpath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update daxing_treespecies
    set treespeciesid = #{record.treespeciesid,jdbcType=INTEGER},
      treespeciesname = #{record.treespeciesname,jdbcType=VARCHAR},
      section = #{record.section,jdbcType=VARCHAR},
      genus = #{record.genus,jdbcType=VARCHAR},
      imgpath = #{record.imgpath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lc.web.resource.entity.Treespecies">
    update daxing_treespecies
    <set>
      <if test="treespeciesname != null">
        treespeciesname = #{treespeciesname,jdbcType=VARCHAR},
      </if>
      <if test="section != null">
        section = #{section,jdbcType=VARCHAR},
      </if>
      <if test="genus != null">
        genus = #{genus,jdbcType=VARCHAR},
      </if>
      <if test="imgpath != null">
        imgpath = #{imgpath,jdbcType=VARCHAR},
      </if>
    </set>
    where treespeciesid = #{treespeciesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lc.web.resource.entity.Treespecies">
    update daxing_treespecies
    set treespeciesname = #{treespeciesname,jdbcType=VARCHAR},
      section = #{section,jdbcType=VARCHAR},
      genus = #{genus,jdbcType=VARCHAR},
      imgpath = #{imgpath,jdbcType=VARCHAR}
    where treespeciesid = #{treespeciesid,jdbcType=INTEGER}
  </update>
</mapper>